<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Thanks for getting in touch, <%= data.name%>! </p>
    <p>You contacted us for the <%= data.work %> possition at our company. </p>
    <p>We will reply to you at <%= data.email %> as soon as possible. </p>
    <p>Take care until then! </p>
</body>

</html>